<ion-view>
  <ion-header-bar>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="row">
      <div class="col">
        <img src="img/logo.png" class="full-image">
      </div>
    </div>
    <div class="padding">
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="Usuario" ng-model="data.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="Contraseña" ng-model="data.password">
        </label>
        <button class="button button-block btnLogin" ng-click="login(data)">Ingresar</button>
      </div>
    </form>
    </div>
  </ion-content>
</ion-view>
