<ion-view view-title="Promociones">
	<ion-nav-title>
    	<img class="logo_header" ng-src="{{'img/'+logo}}">
    </ion-nav-title>
	<div class="bar bar-subheader">
	  <h2 class="title">Promociones</h2>
	</div>
	<ion-content class="has-subheader has-header has-tabs">
			   	<div class="list">
			   		<a class="item item-icon-left item-text-wrap" ng-click="getPromos(promocion.idTipo)" ng-repeat="promocion in Promociones">
			   			<i class="icon ion-android-list"></i>
				      <h2>{{promocion.Nombre}}</h2>
				    </a>
			  	</div> 
	</ion-content>
	<div class="tabs tabs-icon-top">
	  <a class="tab-item" href="#/app/inicio">
	    <i class="icon icon-custom icon-home"></i>
	    Inicio
	  </a>
	  <a class="tab-item" ng-click="comunicacion()">
	    <i class="icon icon-custom icon-comunicacion"></i>
	    Comunicación
	  </a>
	  <a class="tab-item" ng-click="promociones()">
	    <i class="icon icon-custom icon-promociones"></i>
	    Promociones
	  </a>
	</div>
</ion-view>